<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
      {% block title %}
        <title>Share your opinion in with audio recordings.</title>
      {% endblock %}

      {% block meta %}
        {% include "../shared-partials/meta.html" %}
      {% endblock %}

      {% block searchEngineMeta %}
        {% include "../shared-partials/search-engine-meta.html" %}
      {% endblock %}

      {% block styles %}
        {% include "../shared-partials/default-styles.html" %}
      {% endblock %}
  </head>
  <body>
      {% block header %}
          {% include "../shared-partials/mobile-header.html" %}
      {% endblock %}

      {% block body %}
      {% endblock %}

      {% block footer %}
          {% include "../shared-partials/footer-mobile.html" %}
      {% endblock %}

      {% block scripts %}
          {% include "../shared-partials/default-scripts.html" %}
      {% endblock %}
  </body>
</html>
