{% if not isMobile %}
  {% extends "layouts/main.html" %}
{% endif %}

{% if isMobile %}
  {% extends "layouts/mobile-layout.html" %}
{% endif %}

{% block title %}
    <title>How it Works</title>
{% endblock %}

{% block body %}

    <div class="container">
      <H1>How it Works</H1><BR/>
      <p>Create a discussion using the mobile app by recording yourself talking for up to 60 seconds.</p><BR/>

      <p>When you create your discussion you give it a unique ID and a corresponding link which can be shared online.</p><BR/>

      <p>People can respond to your comment with their own 60 second recording and anyone on the web can listen to the discussion using the link you created.</p>
    </div>
{% endblock %}
