<footer class="footer">
    <div class="container">
        <table style="width: 100%;">
            <tr>
                <td>
                    <div>
                        <ul class="text-center" style="list-style-type: none;">
                            <li><a href="/df/how-it-works">How It Works</a></li>
                            <li><a href="/df/feedback">Feedback</a></li>
                            <li><a href="/df/contact">Contact</a></li>
                            <li><a href="/df/privacy-terms">Privacy & Terms</a></li>
                        </ul>
                        <div style="text-align: center;">
                          <p><span style="color:lightgray;">&copy;  {{year}} DiscussionFairy.com</span>
                          </p>
                    </div>
            </tr>
        </table>
    </div>
</footer>
