<footer class="footer">
    <div class="container">
        <table style="width: 100%;">
            <tr>
                <td>
                    <div>
                        <ul class="list-inline">
                            <li><a href="/df/how-it-works">How it works</a></li>
                            <li><a href="/df/feedback">Feedback</a></li>
                            <li><a href="/df/contact">Contact</a></li>
                            <li><a href="/df/privacy-terms">Privacy & Terms</a></li>
                        </ul>
                    </div>
                </td>
                <td style="text-align: right;">
                    <div style="text-align: right;"><p><span style="color:lightgray;">&copy;  {{year}} DiscussionFairy.com</span></p></div>
                </td>
            </tr>
        </table>
    </div>
</footer>
