<div class="header">
    <div class="container">
                <div class="primaryNavContainer">
                    <div id="contentLogoDiv" align="center" class="headerElement">
                        <a href="/"><img alt="logo" id="contentLogo" src="{{publicStaticContentURL}}/msc/logo-initials-transparent-purple.png"/></a>
                    </div>
                    <div class="headerElement headerText headerDivider"><a href="/df/record">RECORD</a>
                    </div>
                    <div class="headerElement headerText headerDivider">|</div>
                    <div class="headerElement headerText headerDivider">
                      <a href="/d/topics">TOPICS</a>
                    </div>
                    <div class="headerElement headerText headerDivider">|</div>
                    <div class="headerElement headerText headerDivider">
                      <a href="/d/search">SEARCH</a>
                    </div>
                    <!--<div id="sloganContainer" class="headerElement">
                      <span id="slogan" style="font-size: 1.75em; color: rgb(64,0,128);">Share Your Opinion Using Audio Recordings!</span>
                    </div>-->
                    <!--<div class="headerText primaryNavContainer">
                        <ul class="list-inline">
                            <li><a href="/how-to-record">RECORD</a></li>
                            <li>|</li>
                            <li><a href="/d/topics">TOPICS</a></li>
                            <li>|</li>
                            <li><a href="/search">SEARCH</a></li>
                            <li><span id="slogan" style="font-size: 1.75em; color: rgb(64,0,128);">Share Your Opinion Using Audio Recordings!</span></li>
                        </ul>
                    </div><!--margin-left: 160px;-->

                </div>

    </div>
</div>

<HR/>
