<div id="header">
  <div id="logoDiv">
      <a href="/"><img alt="logo" id="logo" src="{{publicStaticContentURL}}/msc/logo-initials-transparent-purple.png"/></a>
  </div>

  <div id="dropDownMenuContainer">
    <div id="dropDownMenu" class="dropdown">
      <!--<a id="dropDownMenuButton" class="dropdown-toggle"  style="color: rgb(64,0,128); important!" data-toggle="modal" data-target="#myModal">
        Menu
      </a>-->
      <div id="hamburgerMenu" class="dropdown-toggle" data-toggle="modal" data-target="#myModal">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-body">
          <nav class="nav">
            <a href="/df/record">Record</a><BR/><HR/>
            <a href="/d/search">Search</a><BR/><HR/>
            <a href="/d/topics">Topics</a><BR/><HR/>
            <a href="/">Home</a>
          </nav>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
