<meta name="description" content="User submitted audio recordings of their opinions.">
<meta name="referrer" content="always">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta property="description" content="User submitted audio recordings of their opinions.">
<meta property="thumbnail" itemprop="image" content="{{publicStaticContentURL}}/logo-initials-transparent-purple.png">

<meta property="og:type" content="website">
<meta property="og:site_name" content="DiscussionFairy">
<meta property="og:description" content="User submitted audio recordings of their opinions.">
<meta property="og:title" content="Share your opinion using audio recordings!">
<meta property="og:image" itemprop="image" content="{{publicStaticContentURL}}/logo-initials-transparent-purple.png">
<meta property="og:image:width" content="214">
<meta property="og:url" content="{{url}}"

<meta property="twitter:site" content="@DisccussionFairy">
<meta property="twitter:card" content="summary">
<meta property="twitter:title" content="Share your opinion using audio recordings!">
<meta property="twitter:description" content="User submitted audio recordings of their opinions.">
<meta property="twitter:image" content="{{publicStaticContentURL}}/logo-initials-transparent-purple.png">

<meta name="dc.title" content="Share your opinion using audio recordings!">
<meta name="description" content="User submitted audio recordings of their opinions.">
<meta name="dc.description" content="User submitted audio recordings of their opinions.">
<meta name="dcterms.abstract" content="User submitted audio recordings of their opinions.">
<meta name="dc.publisher" content="DiscussionFairy.com">
<meta name="dc.source" content="DiscussionFairy.com">
