{% extends "layouts/main.html" %}

{% block title %}
    <title>Share your opinion using audio recordings.</title>
{% endblock %}

{% block body %}
    <span id="browse-topics" style="display: none;"></span>
    <div class="container content">

        <div class="pageTitle">
          <H1>Topics</H1>
          <p> Search for topics most relevant to your location.</p>
        </div>
        <HR/>

        <!--Filter options -->
        <!--<div id="topicsFormFilterContainer">
            <div class="topicsFormElement">
              <select id="locationMenu" name="location" class="form-control">
                <option value='' disabled selected>Audience Location</option>
                {% for l in results.locations %}
                    <option value='{{l}}' {{"selected" if l == results.location else ""}}>{{l}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="topicsFormElement">
              <select id="languageMenu" name="language" class="form-control">
                <option value='' disabled selected>Audience Language</option>
                {% for l in results.languages %}
                  <option value='{{l}}' {{"selected" if l == results.language else ""}}>{{l}}</option>
                {% endfor %}
              </select>
            </div>
        </div>-->

        {% if results %}
        <!-- Page/Menu Tabs-->
        <div id="topicsListContainer">
            <div id="results" class="topicsTab">
              <!--<div class="">-->
                {% for k in results %}
                  {% include "../topics/partials/topic-list.html" %}
                {% endfor %}
              <!--</div>-->
            </div>
        </div>
        {% endif %}
        {% if results.length === 0 and (not results.pages.nextPage)  %}
        <div class="page-header">
          <h1>No results</h1>
        </div>
          <p>No topics exist for that filter criteria.</p>
          <p>Try another language and location combination.</p>
        {% endif %}
        {% if results.length === 0 and results.pages.currentPage !== 0%}
        <div class="page-header">
          <h1>No results</h1>
        </div>
          <p>No more search results</p>
        {% endif %}

        <!--Page Number Buttons-->
        <!-- btn btn-primary btn-lg active pageButtons-->
        <div class="pageNumberContainer">
            {% if results.pages.hasOwnProperty('previousPage') %}
            <a class="btn btn-primary btn-lg active topicPageButtons" href="/d/topics?p={{results.pages.previousPage}}" role="button">Back</a>
            {% endif %}

            {% if results.pages.hasOwnProperty('nextPage') and results.pages.nextPage !== 0 %}
            <a class="btn btn-primary btn-lg active topicPageButtons" href="/d/topics?p={{results.pages.nextPage}}" role="button">Next</a>
            {% endif %}
        </div>



    </div>
{% endblock %}
