<meta name="description" content="An audio discussion about '{{discusion.discussionTitle}}'">
<meta name="referrer" content="always">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta property="keyword" content="{{discussion.ks2}}"
<meta property="description" content="An audio discussion about {{ks1}}.">
<meta http-equiv="last-modified" content="{{lastmod}}" />
<meta http-equiv="date" content="{{date}}" />

<meta property="og:type" content="article">
<meta property="og:site_name" content="DiscussionFairy">
<meta property="og:description" content="An audio discussion about {{ks1}}.">
<meta property="og:title" content="{{discussion.discussionTitle}}">
<meta property="og:image" itemprop="image" content="{{publicStaticContentURL}}/logo-initials-transparent-purple.png">
<meta property="og:image:width" content="214">
<meta property="og:url" content="{{url}}/{{discussion.discussionId}}"

<meta property="twitter:site" content="@DisccussionFairy">
<meta property="twitter:card" content="summary">
<meta property="twitter:title" content="{{discussion.discussionTitle}}">
<meta property="twitter:description" content="An audio discussion about {{ks1}}.">
<meta property="twitter:image" content="{{publicStaticContentURL}}/logo-initials-transparent-purple.png">

<meta name="dc.title" content="{{discussion.discussionTitle}}">
<meta name="description" content="An audio discussion about {{ks1}}.">
<meta name="dc.description" content="An audio discussion about {{ks1}}.">
<meta name="dcterms.abstract" content="An audio discussion about {{ks1}}.">
<meta name="dc.publisher" content="DiscussionFairy.com">
<meta name="dc.source" content="DiscussionFairy.com">
<meta name="dc.keywords" content="{{ks2}}">
